div, header, footer, article, section, aside{
	min-height:150px;
	background-color:rgba(0,100,255,.2);
}
div.wrapper{
	width:900px;
	margin: 0px auto;
	padding:5px;
}

article{
	width:600px;
	float:left;
}

figure{
	width:250px;
	float:left;
}

summary{
	width:250px;
	float:left;
}

aside{
	width:300px;
	float:left;
}

.clear{
	clear:both;
}